@use "lib";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@include media-breakpoint-between(xs, sm) {
  //header
  .header-inline {
    display: flex;
    flex-wrap: nowrap;

    .header-menu {
      position: relative;

      img {
        padding-left: 20px;
      }

      .header-menu-item {
        ul {
          width: 50vw;
          background-color: white;
          flex-direction: column;
          position: absolute;
          top: 40px;
          left: 51vw;
          transition: left 1s;

          li {
            width: 100%;
            text-align: center;
            padding: 10px;
            color: lib.$main-color;

            &:hover {
              color: lib.$primary-color;
            }
          }
        }
      }

      form {
        button {
          width: 120px;
        }
      }
    }

    .burger-menu {
      cursor: pointer;
      @include lib.display-flex(flex, none, center, center);

      .burger-item {
        display: block;
      }
    }
  }

  //section 1
  .section-1 {
    padding: 40px 0px 0px 0px;

    .section-1-container {
      margin-bottom: 57px;
    }

    .section-1-title {
      h1 {
        font-size: 52px !important;
      }

      p {
        font-size: 20px;
      }
    }

    .section-1-btn {
      @include lib.display-flex(flex, column, center, center);

      button {
        &:first-child {
          margin: 0px 0px 20px 0px !important;
        }
      }
    }
  }

  //section 2
  .section-2 {
    .feature-heading {
      margin-bottom: 0px !important;
    }

    .feature-content {
      flex-wrap: wrap !important;

      img {
        width: 100%;
        margin: 27px 0px;
      }
    }
  }

  //section 3
  .section-3 {
    .contents {
      padding: 50px 0px;
    }

    .contents-items {
      .item {
        margin-bottom: 33px !important;

        &:last-child {
          margin-bottom: 0px !important;
        }
      }
    }
  }

  //section 4
  .section-4 {
    .gallery {
      padding: 0px;

      .item-line-1 {
        .item {
          margin-right: 0px !important;
          margin-bottom: 33px;

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }

      .item-line-2 {
        display: none !important;
      }
    }
  }

  //section 5
  .section-5 {
    padding: 50px 0px;

    .partners {
      padding: 0px;

      .partners-items {
        flex-direction: column;

        div {
          .last-partners-item {
            width: 80px;
          }

          &:first-child {
            margin-bottom: 50px;
          }
        }
      }
    }
  }

  //section 6
  .section-6 {
    padding: 50px 0px;

    .testimonials {
      padding: 0px;

      .item {
        margin: 0px 10px 23px !important;
      }
    }
  }

  //section 7
  .section-7 {
    .open-type {
      flex-direction: column;
      border-radius: 0px;
      overflow: visible;
      padding: 50px 0px;

      .open-type, .open-type-content {
        padding-left: 0px;
        padding-right: 0px;
      }

      .open-type-content {
        @include lib.display-flex(flex, column, center, center);
        margin-bottom: 44px;

        h2 {
          text-align: center;
        }
      }

      .open-type-img {
        img {
          &:first-child {
            display: none;
          }

          &:last-child {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }

  //section 8
  .section-8 {
    .footer-items {
      flex-wrap: wrap;

      .item {
        margin-bottom: 75px;
      }
    }
  }
}

@include media-breakpoint-only(md) {
  //section 2
  .section-2 {
    .feature-heading {
      margin-bottom: 0px !important;
    }

    .feature-content {
      flex-wrap: wrap !important;

      img {
        width: 100%;
        margin: 27px 0px;
      }
    }
  }

  //section 3
  .section-3 {
    .contents {
      padding: 50px 0px;
    }

    .contents-items {
      .item {
        margin-bottom: 33px !important;

        &:last-child {
          margin-bottom: 0px !important;
        }
      }
    }
  }

  //section 4
  .section-4 {
    .gallery {
      padding: 0px;

      .item-line-1 {
        .item {
          margin-bottom: 33px;

          &:nth-child(odd) {
            margin-right: 20px;
          }
        }
      }

      .item-line-2 {
        display: none !important;
      }
    }
  }

  //section 5
  .section-5 {
    padding: 50px 0px;

    .partners {
      padding: 0px;

      .partners-items {
        flex-direction: column;

        div {
          .last-partners-item {
            width: 80px;
          }

          &:first-child {
            margin-bottom: 50px;
          }
        }
      }
    }
  }

  //section 6
  .section-6 {
    padding: 50px 0px;

    .testimonials {
      padding: 0px;

      .item {
        margin: 0px 10px 23px !important;
      }
    }
  }

  //section 7
  .section-7 {
    .open-type {
      flex-direction: column;
      border-radius: 0px;
      overflow: visible;
      padding: 50px 0px;

      .open-type, .open-type-content {
        padding-left: 0px;
        padding-right: 0px;
      }

      .open-type-content {
        @include lib.display-flex(flex, column, center, center);
        margin-bottom: 44px;

        h2 {
          text-align: center;
        }
      }

      .open-type-img {
        img {
          &:first-child {
            display: none;
          }

          &:last-child {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}

@include media-breakpoint-only(lg) {
  //section 3
  .section-3 {
    .contents-items {
      flex-wrap: nowrap;
    }
  }

  //section 5
  .section-5 {
    padding: 50px 0px;

    .partners {
      padding: 0px;

      .partners-items {
        flex-direction: column;

        div {
          .last-partners-item {
            width: 80px;
          }

          &:first-child {
            margin-bottom: 50px;
          }
        }
      }
    }
  }

  //section 6
  .section-6 {
    padding: 50px 0px;

    .testimonials {
      padding: 0px;

      .item {
        margin: 0px 10px 23px !important;
      }
    }
  }
}