@media (max-width: 575.98px) {
  .header-inline {
    display: flex;
    flex-wrap: nowrap;
  }
  .header-inline .header-menu {
    position: relative;
  }
  .header-inline .header-menu img {
    padding-left: 20px;
  }
  .header-inline .header-menu .header-menu-item ul {
    width: 50vw;
    background-color: white;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 51vw;
    transition: left 1s;
  }
  .header-inline .header-menu .header-menu-item ul li {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #181818;
  }
  .header-inline .header-menu .header-menu-item ul li:hover {
    color: #4452FE;
  }
  .header-inline .header-menu form button {
    width: 120px;
  }
  .header-inline .burger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
  }
  .header-inline .burger-menu .burger-item {
    display: block;
  }

  .section-1 {
    padding: 40px 0px 0px 0px;
  }
  .section-1 .section-1-container {
    margin-bottom: 57px;
  }
  .section-1 .section-1-title h1 {
    font-size: 52px !important;
  }
  .section-1 .section-1-title p {
    font-size: 20px;
  }
  .section-1 .section-1-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-1 .section-1-btn button:first-child {
    margin: 0px 0px 20px 0px !important;
  }

  .section-2 .feature-heading {
    margin-bottom: 0px !important;
  }
  .section-2 .feature-content {
    flex-wrap: wrap !important;
  }
  .section-2 .feature-content img {
    width: 100%;
    margin: 27px 0px;
  }

  .section-3 .contents {
    padding: 50px 0px;
  }
  .section-3 .contents-items .item {
    margin-bottom: 33px !important;
  }
  .section-3 .contents-items .item:last-child {
    margin-bottom: 0px !important;
  }

  .section-4 .gallery {
    padding: 0px;
  }
  .section-4 .gallery .item-line-1 .item {
    margin-right: 0px !important;
    margin-bottom: 33px;
  }
  .section-4 .gallery .item-line-1 .item:last-child {
    margin-bottom: 0px;
  }
  .section-4 .gallery .item-line-2 {
    display: none !important;
  }

  .section-5 {
    padding: 50px 0px;
  }
  .section-5 .partners {
    padding: 0px;
  }
  .section-5 .partners .partners-items {
    flex-direction: column;
  }
  .section-5 .partners .partners-items div .last-partners-item {
    width: 80px;
  }
  .section-5 .partners .partners-items div:first-child {
    margin-bottom: 50px;
  }

  .section-6 {
    padding: 50px 0px;
  }
  .section-6 .testimonials {
    padding: 0px;
  }
  .section-6 .testimonials .item {
    margin: 0px 10px 23px !important;
  }

  .section-7 .open-type {
    flex-direction: column;
    border-radius: 0px;
    overflow: visible;
    padding: 50px 0px;
  }
  .section-7 .open-type .open-type, .section-7 .open-type .open-type-content {
    padding-left: 0px;
    padding-right: 0px;
  }
  .section-7 .open-type .open-type-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;
  }
  .section-7 .open-type .open-type-content h2 {
    text-align: center;
  }
  .section-7 .open-type .open-type-img img:first-child {
    display: none;
  }
  .section-7 .open-type .open-type-img img:last-child {
    display: block;
    width: 100%;
  }

  .section-8 .footer-items {
    flex-wrap: wrap;
  }
  .section-8 .footer-items .item {
    margin-bottom: 75px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .section-2 .feature-heading {
    margin-bottom: 0px !important;
  }
  .section-2 .feature-content {
    flex-wrap: wrap !important;
  }
  .section-2 .feature-content img {
    width: 100%;
    margin: 27px 0px;
  }

  .section-3 .contents {
    padding: 50px 0px;
  }
  .section-3 .contents-items .item {
    margin-bottom: 33px !important;
  }
  .section-3 .contents-items .item:last-child {
    margin-bottom: 0px !important;
  }

  .section-4 .gallery {
    padding: 0px;
  }
  .section-4 .gallery .item-line-1 .item {
    margin-bottom: 33px;
  }
  .section-4 .gallery .item-line-1 .item:nth-child(odd) {
    margin-right: 20px;
  }
  .section-4 .gallery .item-line-2 {
    display: none !important;
  }

  .section-5 {
    padding: 50px 0px;
  }
  .section-5 .partners {
    padding: 0px;
  }
  .section-5 .partners .partners-items {
    flex-direction: column;
  }
  .section-5 .partners .partners-items div .last-partners-item {
    width: 80px;
  }
  .section-5 .partners .partners-items div:first-child {
    margin-bottom: 50px;
  }

  .section-6 {
    padding: 50px 0px;
  }
  .section-6 .testimonials {
    padding: 0px;
  }
  .section-6 .testimonials .item {
    margin: 0px 10px 23px !important;
  }

  .section-7 .open-type {
    flex-direction: column;
    border-radius: 0px;
    overflow: visible;
    padding: 50px 0px;
  }
  .section-7 .open-type .open-type, .section-7 .open-type .open-type-content {
    padding-left: 0px;
    padding-right: 0px;
  }
  .section-7 .open-type .open-type-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;
  }
  .section-7 .open-type .open-type-content h2 {
    text-align: center;
  }
  .section-7 .open-type .open-type-img img:first-child {
    display: none;
  }
  .section-7 .open-type .open-type-img img:last-child {
    display: block;
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .section-3 .contents-items {
    flex-wrap: nowrap;
  }

  .section-5 {
    padding: 50px 0px;
  }
  .section-5 .partners {
    padding: 0px;
  }
  .section-5 .partners .partners-items {
    flex-direction: column;
  }
  .section-5 .partners .partners-items div .last-partners-item {
    width: 80px;
  }
  .section-5 .partners .partners-items div:first-child {
    margin-bottom: 50px;
  }

  .section-6 {
    padding: 50px 0px;
  }
  .section-6 .testimonials {
    padding: 0px;
  }
  .section-6 .testimonials .item {
    margin: 0px 10px 23px !important;
  }
}

/*# sourceMappingURL=rwd.css.map */
